@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  * {
    @apply border-border no-scrollbar;
  }
}
